:root {
  --light-primary: hsl(34, 100%, 55%);
  --primary: #fe8401;
  --secondary: #c16500;
  --gray-1: #f2f2f2;
  --gray-2: #c4c4c4;
  --gray-3: #8c8c8c;
  --gray-4: #555555;
  --font-family: "poppins", serif;
  --font-family-titles: "Jacques Francois", serif;
  --text-color: #333333;
}
